# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata

# Ignore everything in the _site directory
_site/*

# Except these files
!_site/index.html
!_site/about/index.html
!_site/assets/css/main.css
!_site/assets/js/main.js
!_site/assets/img/logo.png
!_site/sitemap.xml
!_site/feed.xml

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
.env